---
import { getCollection } from "astro:content";
import GeneralLayout from "../../layouts/GeneralLayout.astro";
import writingArticleImage from "../../assets/images/writing-article.jpg";

const posts = await getCollection("blog");

const formattedPosts = posts
  .sort(
    (a, b) =>
      new Date(b.data.createdAt).valueOf() -
      new Date(a.data.createdAt).valueOf(),
  )
  .map((post) => {
    const createdAt = new Date(post.data.isoCreatedAt);
    const createdAtFormatted = `${createdAt.getDate()} ${createdAt.toLocaleString(
      "default",
      { month: "short" },
    )} ${createdAt.getFullYear()}`;

    return {
      ...post,
      data: {
        ...post.data,
        createdAtFormatted,
      },
    };
  });
---

<GeneralLayout
  title="Blog - Pakata Goh"
  description="Blog posts"
  imageUrl={writingArticleImage}
>
  <main>
    <h1 class="text-3xl font-bold">Blog</h1>
    <div class="mt-6 flex flex-col gap-6">
      {
        formattedPosts.map((post) => {
          return (
            <a
              data-astro-prefetch
              aria-label={`${post.data.title} - ${post.data.createdAtFormatted}`}
              aria-describedby={`${post.data.title} - description`}
              href={`/blog/${post.slug}`}
              class="rounded-lg border border-gray-200 border-opacity-40 py-3 px-4 shadow-lg transition-shadow hover:shadow-md dark:border-gray-700 dark:border-opacity-30 dark:shadow-gray-900 sm:py-3 sm:px-4"
            >
              <div class="mb-3 flex flex-wrap items-center gap-1 sm:mb-2 sm:flex-nowrap sm:gap-3">
                <h2
                  class="font-medium"
                  style={`view-transition-name: post-title-${post.slug};`}
                >
                  {post.data.title}
                </h2>
                <div class="flex w-full items-center gap-1 text-sm text-gray-700 dark:text-gray-400 sm:w-auto sm:gap-3">
                  <span> - </span>
                  <time
                    datetime={post.data.isoCreatedAt}
                    style={`view-transition-name: post-date-${post.slug};`}
                  >
                    {post.data.createdAtFormatted}
                  </time>
                </div>
              </div>
              <p
                class="mt-1 text-sm text-gray-700 dark:text-gray-400"
                id={`${post.data.title} - description`}
              >
                {post.data.description}
              </p>
            </a>
          );
        })
      }
    </div>
  </main>
</GeneralLayout>
